
<div class="content-wrap">
<div class="portrait-img"><img src="{{lang 'ap-base-1.testimonial.testimonial_avata'}}" alt="portrait-image" /></div>
<div class="media-body">
    <h4 class="media-title">{{lang 'ap-base-1.testimonial.testimonial_name'}}</h4>
    <p class="media-subtitle">{{lang 'ap-base-1.testimonial.testimonial_subname'}}</p>
    <p class="media-des">{{lang 'ap-base-1.testimonial.testimonial_des'}}</p>
</div>
</div>
<div class="content-wrap">
<div class="portrait-img"><img class="img-responsive" src="{{lang 'ap-base-1.testimonial.testimonial_avata1'}}" alt="portrait-image" /></div>
<div class="media-body">
    <h4 class="media-title">{{lang 'ap-base-1.testimonial.testimonial_name1'}}</h4>
    <p class="media-subtitle">{{lang 'ap-base-1.testimonial.testimonial_subname1'}}</p>
    <p class="media-des">{{lang 'ap-base-1.testimonial.testimonial_des1'}}</p>
</div>
</div>
<div class="content-wrap">
<div class="portrait-img"><img class="img-responsive" src="{{lang 'ap-base-1.testimonial.testimonial_avata2'}}" alt="portrait-image" /></div>
<div class="media-body">
    <h4 class="media-title">{{lang 'ap-base-1.testimonial.testimonial_name2'}}</h4>
    <p class="media-subtitle">{{lang 'ap-base-1.testimonial.testimonial_subname2'}}</p>
    <p class="media-des">{{lang 'ap-base-1.testimonial.testimonial_des2'}}</p>
</div>
</div>
<div class="content-wrap">
<div class="portrait-img"><img class="img-responsive" src="{{lang 'ap-base-1.testimonial.testimonial_avata3'}}" alt="portrait-image" /></div>
<div class="media-body">
    <h4 class="media-title">{{lang 'ap-base-1.testimonial.testimonial_name3'}}</h4>
    <p class="media-subtitle">{{lang 'ap-base-1.testimonial.testimonial_subname3'}}</p>
    <p class="media-des">{{lang 'ap-base-1.testimonial.testimonial_des3'}}</p>
</div>
</div>
