<div class="services clearfix">
    <div class="col-md-3 col-sm-6 col-xs-12 order no-padding">
        <div class="services-wrap">
            <h4 class="services-title">{{lang 'ap-base-1.service.servicesone_title'}}</h4>   
            <p class="services-des">{{lang 'ap-base-1.service.servicesone_des'}}</p>
        </div>     
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 order no-padding">
        <div class="services-wrap">
            <h4 class="services-title">{{lang 'ap-base-1.service.servicestwo_title'}}</h4>   
            <p class="services-des">{{lang 'ap-base-1.service.servicestwo_des'}}</p>
        </div>     
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 order no-padding">
        <div class="services-wrap">
            <h4 class="services-title">{{lang 'ap-base-1.service.servicesthree_title'}}</h4>   
            <p class="services-des">{{lang 'ap-base-1.service.servicesthree_des'}}</p>
        </div>     
    </div>   
    <div class="col-md-3 col-sm-6 col-xs-12 order no-padding">
        <div class="services-wrap">
            <h4 class="services-title">{{lang 'ap-base-1.service.servicesfour_title'}}</h4>   
            <p class="services-des">{{lang 'ap-base-1.service.servicesfour_des'}}</p>
        </div>     
    </div>   
</div>
