	<ul class="navUser-section navUser-social">
		<li class="navUser-item">
			<a class="navUser-action" target="_blank" href="https://www.instagram.com/catalystshopdotcom/"><i class="ct-img ct-icon-instagram"></i></a>
		</li>	
		<li class="navUser-item">
			<a class="navUser-action" target="_blank" href="https://www.facebook.com/catalystshopdotcom/"><i class="ct-img ct-icon-facebook"></i></a>
		</li>	
		<li class="navUser-item">
			<a class="navUser-action" target="_blank" href="https://www.youtube.com/channel/UCXVxM8C5gZiB0cse36sAMDw"><i class="ct-img ct-icon-youtube"></i></a>
		</li>
	</ul>
