{{#if section '==' 'pibags1'}}
    {{> components/themes/banner/pibags1}}
{{/if}}
{{#if section '==' 'pibags-accessories'}}
    {{> components/themes/banner/pibags-accessories }}
{{/if}}

{{#if section '==' 'pibags-boardslider'}}
    {{> components/themes/banner/pibags-boardslider }}
{{/if}} 
{{#if section '==' 'pibags-igfeed'}}
    {{> components/themes/banner/pibags-igfeed }}
{{/if}}
{{#if section '==' 'location_wrap'}}
    {{> components/themes/banner/pibags-location }}
{{/if}} 


{{#if section '==' 'pibags-mid1'}}
<div class="banner__wrap">
    {{> components/themes/banner/pibags-mid1}}
</div>
{{/if}} 
{{#if section '==' 'pibags-mid2'}}
<div class="banner__wrap">
    {{> components/themes/banner/pibags-mid2}}
</div>
{{/if}} 
{{#if section '==' 'image-text'}}
<div class="banner_wrap">
    {{> components/themes/banner/image-text}}
</div>
{{/if}} {{#if section '==' 'banner-product'}}
<div class="banner__wrap">
    {{> components/themes/banner/banner-product}}
</div>
{{/if}} {{#if section '==' 'banner-product-h2'}}
<div class="banner_wrap">
    {{> components/themes/banner/banner-product-h2}}
</div>
{{/if}} {{#if section '==' 'banner-h3'}}
<div class="banner_wrap">
    {{> components/themes/banner/banner-h3}}
</div>
{{/if}} {{#if section '==' 'banner-product-h3'}}
<div class="banner_wrap">
    {{> components/themes/banner/banner-product-h3}}
</div>
{{/if}} {{#if section '==' 'banner-product2-h3'}}
<div class="banner_wrap">
    {{> components/themes/banner/banner-product2-h3}}
</div>
{{/if}} {{#if section '==' 'banner-product3-h3'}}
<div class="banner_wrap">
    {{> components/themes/banner/banner-product3-h3}}
</div>
{{/if}} 
{{#if section '==' 'banner-product-h4'}}
<div class="banner__wrap">
    {{> components/themes/banner/banner-product-h4}}
</div>
{{/if}} 
{{#if section '==' 'banner-product-h4-2'}}
<div class="banner__wrap">
    {{> components/themes/banner/banner-product-h4-2}}
</div>
{{/if}} 
{{#if section '==' 'collections-list-h2'}}
<div class="banner_wrap">
    {{> components/themes/banner/collections-list-h2}}
</div>
{{/if}} {{#if section '==' 'collections-list-h3'}}
<div class="banner_wrap">
    {{> components/themes/banner/collections-list-h3}}
</div>
{{/if}} 
{{#if section '==' 'collections-list-h4'}}
<div class="banner_wrap">
    {{> components/themes/banner/collections-list-h4}}
</div>
{{/if}} 

 {{#if section '==' 'hero-overlay'}}
<div class="banner_wrap hero-overlay">
    {{> components/themes/banner/hero__overlay}}
</div>
{{/if}} {{#if section '==' 'hero-overlay-h3'}}
<div class="banner_wrap hero-overlay">
    {{> components/themes/banner/hero__overlay_h3}}
</div>
{{/if}}
 {{#if section '==' 'banner-hero-h4'}} {{> components/themes/banner/banner-hero-h4}} {{/if}} 
 {{#if section '==' 'service_wrap'}}
<div class="service_wrap">
    {{> components/service/service}}
</div>
{{/if}} 
{{#if section '==' 'categories_homepage'}}
<div class="categories-home">
    {{#each categories}} {{#if id '==' ../category_id }}
    <section>
        <h3 class="page-heading">{{../../heading}}</h3>
        <div class="ajaxproduct" data-ap-category-url="{{url}}" data-show="3" data-row="1">
        </div>
    </section>
    {{/if}} {{/each}}
</div>
{{/if}} 

{{#if section '==' 'instagram-carousel'}} {{> components/custom-snippet/instagram }} {{/if}} 
{{#if section '==' 'instagram-grid'}}{{> components/themes/instagram/grid }} {{/if}} 

{{#if section '==' 'new_products'}} 
    {{#if products.new}}
        {{> components/products/new products=products.new rows=theme_settings.homepage_new_products_row_count columns=theme_settings.homepage_new_products_column_count }} 
    {{/if}} 
 {{/if}} 

{{#if section '==' 'featured_products'}}
    {{#if products.featured}}
         {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count slickrow=1}} 
    {{/if}} 
{{/if}} 
{{#if section '==' 'featured_products_h3'}} 
    {{#if products.featured}} 
         {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count slickrow=1}} 
    {{/if}} 
{{/if}} 

{{#if section '==' 'popular_products'}} 
    {{#if products.top_sellers}} 
        {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count }}
    {{/if}} 
 {{/if}}

 {{#if section '==' 'producttab'}}
<div class="producttab-index">
    <div class="block_content box-line clearfix">
        <ul class="tabs tabs-home " data-tab role="tablist">
            {{#if products.featured}}
            <li class="tab is-active" role="presentational">
                <a class="tab-title" href="#tab-featured" role="tab" tabindex="0" aria-selected="true" controls="tab-featured">{{lang 'ap-base-2.products-tab.featured' }}</a>
            </li>
            {{/if}} {{#if products.new}}
            <li class="tab" role="presentational">
                <a class="tab-title" href="#tab-new" role="tab" tabindex="0" aria-selected="false" controls="tab-new">{{lang 'ap-base-2.products-tab.new' }}</a>
            </li>
            {{/if}} {{#if products.top_sellers}}
            <li class="tab" role="presentational">
                <a class="tab-title" href="#tab-top_sellers" role="tab" tabindex="0" aria-selected="false" controls="tab-top_sellers">{{lang 'ap-base-2.products-tab.top' }}</a>
            </li>
            {{/if}}
        </ul>
    </div>
    <div class="tabs-contents">
        {{#if products.featured}}
        <div role="tabpanel" aria-hidden="false" class="tab-content has-jsContent is-active" id="tab-featured">
            {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count slickrow=1 }}
        </div>
        {{/if}} {{#if products.new}}
        <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent " id="tab-new">
            {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count }}
        </div>
        {{/if}} {{#if products.top_sellers}}
        <div role="tabpanel" aria-hidden="true" class="tab-content has-jsContent " id="tab-top_sellers">
            {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count }}
        </div>
        {{/if}}
    </div>
</div>
{{/if}} {{#if section '==' 'blog_home'}}
<div class="blockblog">
    <h3 class="page-heading">
        {{lang 'ap-base-1.blog-home.title-blog'}}
        <span class="bloghp-des text-des text-center">{{lang 'ap-base-1.blog-home.blogdes'}}</span>
    </h3>
    <section class="blockhomepage" data-slick='{
      "dots": false,
      "arrows": false,
      "infinite": false,
      "mobileFirst": true,
      "slidesToShow": 1,
      "slidesToScroll": 1,
      "responsive": [
          {
              "breakpoint": 1200,
              "settings": {
                  "slidesToScroll": 1,
                  "slidesToShow": {{ columns }}
              }
          },
          {
              "breakpoint": 992,
              "settings": {
                  "slidesToScroll": 1,
                  "slidesToShow": 2
              }
          },
          {
              "breakpoint": 700,
              "settings": {
                  "slidesToScroll": 1,
                  "slidesToShow": 2
              }
          },
          {
              "breakpoint": 480,
              "settings": {
                  "slidesToScroll": 1,
                  "slidesToShow": 1
              }
          }
      ]
  }'>
        {{#each blog.recent_posts}} {{> components/blog/post_home recent_posts=this columns=theme_settings.homepage_blog_posts_count}}
        {{/each}}
    </section>
</div>
{{/if}} {{#if section '==' 'testimonial'}}
<div class="testimonial_wrap">
        <h3 class="bannerbottom-title">{{lang 'ap-base-1.testimonial.testimonial_title'}}</h3>
        <p class="bannerbottom-des">{{lang 'ap-base-1.testimonial.testimonial_subtitle'}}</p>
    <div class="quotes-wrapper">
        <div class="quotes-slider" id="Quotes-block">
            <div class="quotes-slide-block" data-slick='{
                "dots": false,
                "prevArrow": false,
                "nextArrow": false,
                "infinite": true,
                "mobileFirst": true,
                "slidesToScroll": 1,
                "slidesToShow": 1,
                "autoplay": true,
                "autoplaySpeed": 10000,
                "responsive": [
                        {
                        "breakpoint": 480,
                        "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 2
                        }
                    },
                    {
                        "breakpoint": 768,
                        "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 3
                    }
                }
            ]
        }'>
                {{> components/quotes/quotes}}
            </div>
        </div>
    </div>
</div>
{{/if}} {{#if section '==' 'brand_list'}}
<div class="brandlist-homepage" data-slick='{
            "dots": false,
            "arrows":false,
            "infinite": false,
            "mobileFirst": true,
            "slidesToShow": 1,
            "slidesToScroll": 1,
            "responsive": [
                {
                    "breakpoint": 1200,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 5
                    }
                },
                {
                    "breakpoint": 992,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 4
                    }
                },
                {
                    "breakpoint": 768,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 3
                    }
                },
                {
                    "breakpoint": 480,
                    "settings": {
                        "slidesToScroll": 1,
                        "slidesToShow": 2
                    }
                }
            ]
        }'>
    {{> components/brand/brand-home}}
</div>
{{/if}}

{{#if section '==' 'mega'}} {{#if id '==' ../mega_id_1}}
<ul class="navPage-subMenu-list navPage-subMenu-list-mega col-md-{{lang 'mega-menu.col-menu-sub-1' }} {{lang 'mega-menu.on-off-menusub-1'}}">
    <li class="navPage-subMenu-item navPage-subMenu-title">
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
    </li>
    {{#each children}}
    <li class="navPage-subMenu-item">
        {{#if children}}
        <a class="navPage-subMenu-action navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}" data-collapsible-disabled-breakpoint="medium"
            data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed">
            {{name}}
            <i class="icon navPages-action-moreIcon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="navPage-childList" id="navPages-{{id}}">
            {{#each children}}
            <li class="navPage-childList-item">
                <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
        {{/if}}
    </li>
    {{/each}}
</ul>

<div class="category-menu col-md-{{lang 'mega-menu.col-menu-sub-category-1' }} {{lang 'mega-menu.on-off-category-1' }}">
    <section>
        <h4 class="title-product">{{lang 'mega-menu.title-product1'}}</h4>
        <div class="" data-ap-category-url="{{url}}" data-show="{{lang 'mega-menu.item-show1'}}" data-row="1">
        </div>
    </section>
</div>


<div class="html-menu col-md-{{lang 'mega-menu.col-menu-sub-html-1'}} {{lang 'mega-menu.on-off-html-1' }}">
    <div class="title-html-menu">{{lang 'mega-menu.title-html-menu-1'}}</div>
    <div class="image-html-menu">
        <img src="{{lang 'mega-menu.image-html-menu-1'}}" alt="{{lang 'mega-menu.alt-image-1' }}">
    </div>
    <div class="content-html-menu">{{lang 'mega-menu.content-html-menu-1'}}</div>
</div>

{{else if id '==' ../mega_id_2}}
<ul class="navPage-subMenu-list navPage-subMenu-list-mega col-md-{{lang 'mega-menu.col-menu-sub-2' }} {{lang 'mega-menu.on-off-menusub-2'}}">
    <li class="navPage-subMenu-item navPage-subMenu-title">
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
    </li>
    {{#each children}}
    <li class="navPage-subMenu-item">
        {{#if children}}
        <a class="navPage-subMenu-action navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}" data-collapsible-disabled-breakpoint="medium"
            data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed">
            {{name}}
            <i class="icon navPages-action-moreIcon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="navPage-childList" id="navPages-{{id}}">
            {{#each children}}
            <li class="navPage-childList-item">
                <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
        {{/if}}
    </li>
    {{/each}}
</ul>

<div class="category-menu col-md-{{lang 'mega-menu.col-menu-sub-category-2' }} {{lang 'mega-menu.on-off-category-2' }}">
    <section>
        <h4 class="title-product">{{lang 'mega-menu.title-product2'}}</h4>
        <div class="" data-ap-category-url="{{url}}" data-show="{{lang 'mega-menu.item-show2'}}" data-row="1">
        </div>
    </section>
</div>


<div class="html-menu col-md-{{lang 'mega-menu.col-menu-sub-html-2'}} {{lang 'mega-menu.on-off-html-2' }}">
    <div class="title-html-menu">{{lang 'mega-menu.title-html-menu-2'}}</div>
    <div class="image-html-menu">
        <img src="{{lang 'mega-menu.image-html-menu-2'}}" alt="{{lang 'mega-menu.alt-image-2' }}">
    </div>
    <div class="content-html-menu">{{lang 'mega-menu.content-html-menu-2'}}</div>
</div>

{{else if id '==' ../mega_id_3}}
<ul class="navPage-subMenu-list navPage-subMenu-list-mega col-md-{{lang 'mega-menu.col-menu-sub-3' }} {{lang 'mega-menu.on-off-menusub-3'}}">
    <li class="navPage-subMenu-item navPage-subMenu-title">
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
    </li>
    {{#each children}}
    <li class="navPage-subMenu-item">
        {{#if children}}
        <a class="navPage-subMenu-action navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}" data-collapsible-disabled-breakpoint="medium"
            data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed">
            {{name}}
            <i class="icon navPages-action-moreIcon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="navPage-childList" id="navPages-{{id}}">
            {{#each children}}
            <li class="navPage-childList-item">
                <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
        {{/if}}
    </li>
    {{/each}}
</ul>

<div class="category-menu col-md-{{lang 'mega-menu.col-menu-sub-category-3' }} {{lang 'mega-menu.on-off-category-3' }}">
    <section>
            <h4 class="title-product">{{lang 'mega-menu.title-product3'}}</h4>
        <div class="" data-ap-category-url="{{url}}" data-show="{{lang 'mega-menu.item-show3'}}" data-row="1">
        </div>
    </section>
</div>


<div class="html-menu col-md-{{lang 'mega-menu.col-menu-sub-html-3'}}">
    <div class="title-html-menu">{{lang 'mega-menu.title-html-menu-3'}}</div>
    <div class="image-html-menu">
        <img src="{{lang 'mega-menu.image-html-menu-3'}}" alt="{{lang 'mega-menu.alt-image-3' }} {{lang 'mega-menu.on-off-html-3' }}">
    </div>
    <div class="content-html-menu">{{lang 'mega-menu.content-html-menu-3'}}</div>
</div>

{{else if id '==' ../mega_id_4}}
<ul class="navPage-subMenu-list navPage-subMenu-list-mega col-md-{{lang 'mega-menu.col-menu-sub-4' }} {{lang 'mega-menu.on-off-menusub-4'}}">
    <li class="navPage-subMenu-item navPage-subMenu-title">
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
    </li>
    {{#each children}}
    <li class="navPage-subMenu-item">
        {{#if children}}
        <a class="navPage-subMenu-action navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}" data-collapsible-disabled-breakpoint="medium"
            data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed">
            {{name}}
            <i class="icon navPages-action-moreIcon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="navPage-childList" id="navPages-{{id}}">
            {{#each children}}
            <li class="navPage-childList-item">
                <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
        {{/if}}
    </li>
    {{/each}}
</ul>
<div class="{{lang 'mega-menu.on-off-category-4' }}">
    <div class="category-menu col-md-{{lang 'mega-menu.col-menu-sub-category-4' }}">
        <section>
                <h4 class="title-product">{{lang 'mega-menu.title-product4'}}</h4>
            <div class="" data-ap-category-url="{{url}}" data-show="{{lang 'mega-menu.item-show4'}}" data-row="1">
            </div>
        </section>
    </div>
</div>
<div class="{{lang 'mega-menu.on-off-html-4' }}">
    <div class="html-menu col-md-{{lang 'mega-menu.col-menu-sub-html-4'}}">
        <div class="title-html-menu">{{lang 'mega-menu.title-html-menu-4'}}</div>
        <div class="image-html-menu">
            <img src="{{lang 'mega-menu.image-html-menu-4'}}" alt="{{lang 'mega-menu.alt-image-4' }}">
        </div>
        <div class="content-html-menu">{{lang 'mega-menu.content-html-menu-4'}}</div>
    </div>
</div>
{{else if id '==' ../mega_id_5}}
<ul class="navPage-subMenu-list navPage-subMenu-list-mega col-md-{{lang 'mega-menu.col-menu-sub-5' }} {{lang 'mega-menu.on-off-menusub-5'}}">
    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
    </li>
    {{#each children}}
    <li class="navPage-subMenu-item">
        {{#if children}}
        <a class="navPage-subMenu-action navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}" data-collapsible-disabled-breakpoint="medium"
            data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed">
            {{name}}
            <i class="icon navPages-action-moreIcon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="navPage-childList" id="navPages-{{id}}">
            {{#each children}}
            <li class="navPage-childList-item">
                <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
        {{/if}}
    </li>
    {{/each}}
</ul>
<div class="{{lang 'mega-menu.on-off-category-5' }}">
    <div class="category-menu col-md-{{lang 'mega-menu.col-menu-sub-category-5' }}">
        <section>
                <h4 class="title-product">{{lang 'mega-menu.title-product5'}}</h4>
            <div class="" data-ap-category-url="{{url}}" data-show="{{lang 'mega-menu.item-show5'}}" data-row="1">
            </div>
        </section>
    </div>
</div>
<div class="{{lang 'mega-menu.on-off-html-5' }}">
    <div class="html-menu col-md-{{lang 'mega-menu.col-menu-sub-html-5'}}">
        <div class="title-html-menu">{{lang 'mega-menu.title-html-menu-5'}}</div>
        <div class="image-html-menu">
            <img src="{{lang 'mega-menu.image-html-menu-5'}}" alt="{{lang 'mega-menu.alt-image-5' }}">
        </div>
        <div class="content-html-menu">{{lang 'mega-menu.content-html-menu-5'}}</div>
    </div>
</div>
{{else}}
<ul class="navPage-subMenu-list">
    <li class="navPage-subMenu-item">
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{#if name '==' 'Custom Surfboard' }}3D Board Builder{{else}}{{lang 'category.view_all.name' category=name}}{{/if}}</a>
    </li>
    {{#each children}}
    <li class="navPage-subMenu-item">
		{{#if name '!=' '3D Board Builder' }}
        {{#if children}}
        <a class="navPage-subMenu-action navPages-action has-subMenu" href="{{url}}" data-collapsible="navPages-{{id}}" data-collapsible-disabled-breakpoint="medium"
            data-collapsible-disabled-state="open" data-collapsible-enabled-state="closed">
            {{name}}
            <i class="icon navPages-action-moreIcon" aria-hidden="true">
                <svg>
                    <use xlink:href="#icon-chevron-down" />
                </svg>
            </i>
        </a>
        <ul class="navPage-childList" id="navPages-{{id}}">
            {{#each children}}
            <li class="navPage-childList-item">
                <a class="navPage-childList-action navPages-action" href="{{url}}">{{name}}</a>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <a class="navPage-subMenu-action navPages-action" href="{{url}}">{{name}}</a>
        {{/if}}
		{{/if}}
    </li>
    {{/each}} {{#if image.data}}
    <div class="img-cate">
        <a href="{{url}}">
            <img class="img" src="{{getImage image }}" alt="{{name}}">
        </a>
    </div>
    {{#each children}} {{#if children}}
    <img src="{{getImage image }}" alt="{{name}}"> {{/if}} {{/each}} {{/if}}
</ul>
{{/if}} {{/if}}
