/* ----- global common values ----------- */

	var  _facetData = {};
	_facetData['CONSTRUCTION'] = {
		'ART':'Drew Brophy Art',
		'BUSH':'Bush Man',
		'CARV':'Carver',
		'CATSUR':'Catch Surf',
		'CI':'Channel Islands',
		'CLEVER':'Clever',
		'CREATU':'Creatures',
		'FIREW':'Firewire',
		'FIRWSO':'Firewire',
		'FUT':'Future Fins',
		'HAYDEN':'HAYDEN SHAPE',
		'IND':'Individuals',
		'JS':'Js Surfboard',
		'LIBTECH':'Libtech',
		'LOSCAR':'Lost Carbon Wrap',
		'LOSTC4':'Lost C4',
		'LOSTCL':'Lost Clothing',
		'LOSTCW':'Lost Carbon Wrap',
		'LOSTIN':'Lost International',
		'LOSTLS':'Lost Light Speed',
		'LOSTSB':'Lost Surfboard',
		'LOSBRD':'Lost Surfboard',
		'MCOLE':'Maurice Cole',
		'MERVIN':'Mervin Manufacturing',
		'QF':'Quiet Flight',
		'RCS':'RCS',
		'SACBAG':'Surf Hardware',
		'SEAGYP':'Lost',
		'SHRPEY':'Sharp Eye',
		'SURFHD':'Surf Hardware',
		'SURUSE':'Used Surfboard',
		'WRV':'WRV',
		'BILLA':'Bilabong',
		'RIPCUR':'Rip Curl',
		'CATALY':'Catalyst',
		'DUVIN':'Duvin',
		'PUK':'Pukka',
		'ARBOR':'Arbor',
		'LANDY':'Landychatz',
		'LOAD':'Loaded Carving Systems',
		'SECT9':'Sector 9',
	};
	
	_facetData['LOCALE'] = {
		'SC':'SAN CLEMENTE CA',
		'SCD':'SAN CLEMENTE DOWNTOWN CA',
		'UCF':'ORLANDO (UCF) FL',
		'MB':'MELBOURNE BEACH FL',
		'CB':'COCOA BEACH FL'
	}	
	
	
