<div class="section__char" style="background-image: url({{lang 'ap-base-4.banner-overlay.image-background'}})">
        <div class="char char--small">
           <div class="container">
              <div class="row flex-box">
                 <div class="flex-item col-md-3 col-sm-3 col-xs-6 col-sp-6">
                    <div class="number-1 numbers">
                       <span id="num1" class="number__1"></span><span>{{lang 'ap-base-4.banner-overlay.number'}}</span>
                       <h3 class="title_number">{{lang 'ap-base-4.banner-overlay.title'}}</h3>
                    </div>
                 </div>
                 <div class="flex-item col-md-3 col-sm-3 col-xs-6 col-sp-6">
                    <div class="number-2 numbers">
                       <span id="num2" class="number__2"></span><span>{{lang 'ap-base-4.banner-overlay.number2'}}</span>
                       <h3 class="title_number">{{lang 'ap-base-4.banner-overlay.title2'}}</h3>
                    </div>
                 </div>
                 <div class="flex-item col-md-3 col-sm-3 col-xs-6 col-sp-6">
                    <div class="number-3 numbers">
                       <span id="num3" class="number__3"></span><span>{{lang 'ap-base-4.banner-overlay.number3'}}</span>
                       <h3 class="title_number">{{lang 'ap-base-4.banner-overlay.title3'}}</h3>
                    </div>
                 </div>
                 <div class="flex-item col-md-3 col-sm-3 col-xs-6 col-sp-6">
                    <div class="number-4 numbers">
                       <span id="num4" class="number__4"></span><span>{{lang 'ap-base-4.banner-overlay.number4'}}</span>
                       <h3 class="title_number">{{lang 'ap-base-4.banner-overlay.title4'}}</h3>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div
