<div class="collection-list-index collection-list-index-h3">
       <div class="wrapper_content">
          <div class="collec-wrapper grid-list">
             <div class="collec-slider row" data-slick='{
                "dots": true,
                "arrows": false,
                "infinite": false,
                "mobileFirst": true,
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "responsive": [
                    {
                        "breakpoint": 1260,
                        "settings": {
                            "slidesToScroll": 1,
                            "slidesToShow": 4
                        }
                    },
                    {
                        "breakpoint": 991,
                        "settings": {
                            "slidesToScroll": 1,
                            "slidesToShow": 3
                        }
                    },
                    {
                        "breakpoint": 550,
                        "settings": {
                            "slidesToScroll": 1,
                            "slidesToShow": 2
                        }
                    }
                ]
            }'>
                <div class="collec-slide grid__item-index">
                   <div class="collection-grid-item-index">
                      <div class="collection-grid-item__title-wrapper-index text-center block">
                         <div class="img_collection_item">
                            <a href="{{lang 'ap-base-3.collection.link'}}">
                            <img src="{{lang 'ap-base-3.collection.image'}}" alt="new Style">
                            </a>
                         </div>
                         <div class="content__collec section__title">
                            <h3 class="title__block collection-grid-item__title__list-index">
                               <a href="{{lang 'ap-base-3.collection.link'}}">
                               {{lang 'ap-base-3.collection.title'}}
                               </a>
                            </h3>
                            <span class="count_product_collection">{{lang 'ap-base-3.collection.item-count'}}</span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="collec-slide grid__item-index">
                   <div class="collection-grid-item-index">
                      <div class="collection-grid-item__title-wrapper-index text-center block">
                         <div class="img_collection_item">
                            <a href="{{lang 'ap-base-3.collection.link2'}}">
                            <img src="{{lang 'ap-base-3.collection.image2'}}" alt="back bags">
                            </a>
                         </div>
                         <div class="content__collec section__title">
                            <h3 class="title__block collection-grid-item__title__list-index">
                               <a href="{{lang 'ap-base-3.collection.link2'}}">         
                               {{lang 'ap-base-3.collection.title2'}}
                               </a>
                            </h3>
                            <span class="count_product_collection">{{lang 'ap-base-3.collection.item-count'}}</span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="collec-slide grid__item-index">
                   <div class="collection-grid-item-index">
                      <div class="collection-grid-item__title-wrapper-index text-center block">
                         <div class="img_collection_item">
                            <a href="{{lang 'ap-base-3.collection.link3'}}">
                            <img src="{{lang 'ap-base-3.collection.image3'}}" alt="the classic">
                            </a>
                         </div>
                         <div class="content__collec section__title">
                            <h3 class="title__block collection-grid-item__title__list-index">
                               <a href="{{lang 'ap-base-3.collection.link3'}}">                              
                               {{lang 'ap-base-3.collection.title3'}}
                               </a>
                            </h3>
                            <span class="count_product_collection">{{lang 'ap-base-3.collection.item-count'}}</span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="collec-slide grid__item-index">
                   <div class="collection-grid-item-index">
                      <div class="collection-grid-item__title-wrapper-index text-center block">
                         <div class="img_collection_item">
                            <a href="{{lang 'ap-base-3.collection.link4'}}">
                            <img src="{{lang 'ap-base-3.collection.image4'}}" alt="Dawson">
                            </a>
                         </div>
                         <div class="content__collec section__title">
                            <h3 class="title__block collection-grid-item__title__list-index">
                               <a href="{{lang 'ap-base-3.collection.link4'}}">                              
                               {{lang 'ap-base-3.collection.title4'}}
                               </a>
                            </h3>
                            <span class="count_product_collection">{{lang 'ap-base-3.collection.item-count'}}</span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
 </div>
