<div class="feature__collections feature__collections_h4">
    <div class="container">
       <div class="row">
          <div class="section__title ">
             <h2 class="page-heading"><span class="word__first">{{lang 'ap-base-4.collection.title-block'}}</span></h2>
             <p class="des_feature_collections">{{lang 'ap-base-4.collection.description-block'}}</p>
          </div>
          <div class="block__content">
             <div class="block_feature_left col-md-6 col-sm-6">
                <div class="row">
                   <div class="items-1 items-feature col-md-12 col-sm-12 col-xs-12">
                      <div class="img__feature_collections">
                         <a href="{{lang 'ap-base-4.collection.link'}}">
                         <img src="{{lang 'ap-base-4.collection.image'}}" alt="Product bags">
                         </a>
                      </div>
                      <div class="content__feature">
                         <h3 class="title_block collection-grid-item__title__list-index">
                            <a href="{{lang 'ap-base-4.collection.link'}}">
                            {{lang 'ap-base-4.collection.title'}}
                            </a>
                         </h3>
                         <span class="count_product_collection">{{lang 'ap-base-4.collection.item-count'}}</span>
                      </div>
                   </div>
                   <div class="items-2 items-feature col-md-6 col-sm-6 col-xs-6">
                      <div class="img__feature_collections">
                         <a href="{{lang 'ap-base-4.collection.link2'}}">
                         <img src="{{lang 'ap-base-4.collection.image2'}}" alt="Product bags">
                         </a>
                      </div>
                      <div class="content__feature">
                         <h3 class="title_block collection-grid-item__title__list-index">
                            <a href="{{lang 'ap-base-4.collection.link2'}}">                          
                            {{lang 'ap-base-4.collection.title2'}}
                            </a>
                         </h3>
                         <span class="count_product_collection">{{lang 'ap-base-4.collection.item-count2'}}</span>
                      </div>
                   </div>
                   <div class="items-3 items-feature col-md-6 col-sm-6 col-xs-6">
                      <div class="img__feature_collections">
                         <a href="{{lang 'ap-base-4.collection.link3'}}">
                         <img src="{{lang 'ap-base-4.collection.image3'}}" alt="Product bags">
                         </a>
                      </div>
                      <div class="content__feature">
                         <h3 class="title_block collection-grid-item__title__list-index">
                            <a href="{{lang 'ap-base-4.collection.link3'}}">                       
                            {{lang 'ap-base-4.collection.title3'}}
                            </a>
                         </h3>
                         <span class="count_product_collection">{{lang 'ap-base-4.collection.item-count3'}}</span>
                      </div>
                   </div>
                </div>
             </div>
             <div class="block_feature_right col-md-6 col-sm-6">
                <div class="row">
                   <div class="items-4 items-feature col-md-6 col-sm-6 col-xs-6">
                      <div class="img__feature_collections">
                         <a href="{{lang 'ap-base-4.collection.link4'}}">
                         <img src="{{lang 'ap-base-4.collection.image4'}}" alt="Product bags">
                         </a>
                      </div>
                      <div class="content__feature">
                         <h3 class="title_block collection-grid-item__title__list-index">
                            <a href="{{lang 'ap-base-4.collection.link4'}}">                        
                            {{lang 'ap-base-4.collection.title4'}}
                            </a>
                         </h3>
                         <span class="count_product_collection">{{lang 'ap-base-4.collection.item-count4'}}</span>
                      </div>
                   </div>
                   <div class="items-5 items-feature col-md-6 col-sm-6 col-xs-6">
                      <div class="img__feature_collections">
                         <a href="{{lang 'ap-base-4.collection.link5'}}">
                         <img src="{{lang 'ap-base-4.collection.image5'}}" alt="Product bags">
                         </a>
                      </div>
                      <div class="content__feature">
                         <h3 class="title_block collection-grid-item__title__list-index">
                            <a href="{{lang 'ap-base-4.collection.link5'}}">                     
                            {{lang 'ap-base-4.collection.title5'}}
                            </a>
                         </h3>
                         <span class="count_product_collection">{{lang 'ap-base-4.collection.item-count5'}}</span>
                      </div>
                   </div>
                   <div class="items-6 items-feature col-md-12 col-sm-12 col-xs-12">
                      <div class="img__feature_collections">
                         <a href="{{lang 'ap-base-4.collection.link6'}}">
                         <img src="{{lang 'ap-base-4.collection.image6'}}" alt="Product bags">
                         </a>
                      </div>
                      <div class="content__feature">
                         <h3 class="title_block collection-grid-item__title__list-index">
                            <a href="{{lang 'ap-base-4.collection.link6'}}">                   
                            {{lang 'ap-base-4.collection.title6'}}
                            </a>
                         </h3>
                         <span class="count_product_collection">{{lang 'ap-base-4.collection.item-count6'}}</span>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
