<div class="hero_h3 hero--small hero__overla_h3" style="background: url({{lang 'ap-base-2.banner-overlay.image-background'}}) no-repeat top left;">
    <div class="hero__inner_h3">
       <div class="container text-center feature-row__text">
          <h2 class="h1 mega-title">{{lang 'ap-base-2.banner-overlay.title'}}</h2>
          <a href="{{lang 'ap-base-3.banner-overlay.link'}}" class="btn hero__btn">
            {{lang 'ap-base-3.banner-overlay.button'}}
          </a>
       </div>
    </div>
 </div>
