<div class="section_hero index-section index-section--flush">
    <div class="hero hero--1489717982980 hero--medium hero__overlay" style="background-image:url({{lang 'ap-base-2.banner-overlay.image-background'}});"0>
        <div class="hero__inner">
        <div class="container text-center feature-row__text">
            <h2 class="h1 mega-title">{{lang 'ap-base-2.banner-overlay.title'}}</h2>
            <div class="rte-setting mega-subtitle"><p>{{lang 'ap-base-2.banner-overlay.subtitle'}}</p></div>
            <a href="{{lang 'ap-base-2.banner-overlay.link'}}" class="btn hero__btn">{{lang 'ap-base-2.banner-overlay.button'}}</a>
        </div>
        </div>
     </div>
</div>
