<div class="feature-row text-center clearfix">

        <div class="effect_item_row feature-row__item feature-row__text">
            <h2 class="h3 title_text_image">
             {{lang 'ap-base-1.banner-mid.title-right-banner'}}
            </h2>
            <div class="rte-setting featured-row__subtext">
                <p>
                {{lang 'ap-base-1.banner-mid.text-right-banner'}}
                </p>
            </div>
            <a class="btn" href="{{lang 'ap-base-1.banner-mid.link-banner-text-right'}}">
                 {{lang 'ap-base-1.banner-mid.button-right-banner'}}
            </a>
        </div>
    

        <div class="effect_item feature-row__item">
            <img alt="Pi Bags" class="feature-row__image" src="{{lang 'ap-base-1.banner-mid.banner-text-right'}}">
            </img>
        </div>

</div>
