<div class="bannerhp bannermiddle clearfix" data-banner-location="middle">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box-banner">
            <img src="{{lang 'ap-base-1.bannermiddle.bannermiddle_one_image'}}" alt="Banner Image" class="img-responsive">
            <div class="content-box">
                <h4 class="bannermiddle-title">{{lang 'ap-base-1.bannermiddle.bannermiddle_one_title'}}</h4>
                <a href="{{lang 'ap-base-1.bannermiddle.bannermiddle_one_link'}}" class="btn-bannermiddle">{{lang 'ap-base-1.bannermiddle.bannermiddle_one_btn'}}</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box-banner">
            <img src="{{lang 'ap-base-1.bannermiddle.bannermiddle_two_image'}}" alt="Banner Image" class="img-responsive">
            <div class="content-box">
                <h4 class="bannermiddle-title">{{lang 'ap-base-1.bannermiddle.bannermiddle_two_title'}}</h4>
                <a href="{{lang 'ap-base-1.bannermiddle.bannermiddle_two_link'}}" class="btn-bannermiddle">{{lang 'ap-base-1.bannermiddle.bannermiddle_two_btn'}}</a>
            </div>
        </div>
    </div>    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box-banner">
            <img src="{{lang 'ap-base-1.bannermiddle.bannermiddle_three_image'}}" alt="Banner Image" class="img-responsive">
            <div class="content-box">
                <h4 class="bannermiddle-title">{{lang 'ap-base-1.bannermiddle.bannermiddle_three_title'}}</h4>
                <a href="{{lang 'ap-base-1.bannermiddle.bannermiddle_three_link'}}" class="btn-bannermiddle">{{lang 'ap-base-1.bannermiddle.bannermiddle_three_btn'}}</a>
            </div>
        </div>
    </div>    
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding">
        <div class="box-banner">
            <img src="{{lang 'ap-base-1.bannermiddle.bannermiddle_four_image'}}" alt="Banner Image" class="img-responsive">
            <div class="content-box">
                <h4 class="bannermiddle-title">{{lang 'ap-base-1.bannermiddle.bannermiddle_four_title'}}</h4>
                <a href="{{lang 'ap-base-1.bannermiddle.bannermiddle_four_link'}}" class="btn-bannermiddle">{{lang 'ap-base-1.bannermiddle.bannermiddle_four_btn'}}</a>
            </div>
        </div>
    </div> 
    </div>
    
