<div class="grid grid--no-gutters image-bar clearfix">
  <div class="row">
    <div id="bannertop" class="bannertop clearfix" data-banner-location="top">
      <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="widget-banner blockone">
              <a href="{{lang 'ap-base-1.bannertop.bannertop_link1'}}">
                  <img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{lang 'ap-base-1.bannertop.bannertop_image1'}}" alt="Banner Image">
              </a>
          </div>
          <div class="widget-banner blocktwo">
              <a href="{{lang 'ap-base-1.bannertop.bannertop_link2'}}">
                  <img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{lang 'ap-base-1.bannertop.bannertop_image2'}}" alt="Banner Image">
              </a>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="widget-banner blockthree">
              <a href="{{lang 'ap-base-1.bannertop.bannertop_link3'}}">
				<img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{lang 'ap-base-1.bannertop.bannertop_image3'}}" alt="Banner Image">
			  </a>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="widget-banner blockfour">
			<a href="{{lang 'ap-base-1.bannertop.bannertop_link4'}}">
				<img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{lang 'ap-base-1.bannertop.bannertop_image4'}}" alt="Banner Image">
			</a>
       </div>
       <div class="widget-banner blockfive">
          <a href="{{lang 'ap-base-1.bannertop.bannertop_link5'}}">
			<img class="img-responsive lazyload"  data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{lang 'ap-base-1.bannertop.bannertop_image5'}}" alt="Banner Image">
		</a>
      </div>
    </div>
  </div>
 </div>
</div>
