	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-1.brandlist.link'}}">
			<img class="img-responsive" src="{{lang 'ap-base-1.brandlist.image'}}" alt="brand-logo" />
		</a>
	</div>
	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-1.brandlist.link2'}}">
			<img class="img-responsive" src="{{lang 'ap-base-1.brandlist.image2'}}" alt="brand-logo" />
		</a>
	</div>
	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-1.brandlist.link3'}}">
			<img class="img-responsive" src="{{lang 'ap-base-1.brandlist.image3'}}" alt="brand-logo" />
		</a>
	</div>
	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-1.brandlist.link4'}}">
			<img class="img-responsive" src="{{lang 'ap-base-1.brandlist.image4'}}" alt="brand-logo" />
		</a>
	</div>
	<div class="brand-logo">
		<a title="brand logo" href="{{lang 'ap-base-1.brandlist.link5'}}">
			<img class="img-responsive" src="{{lang 'ap-base-1.brandlist.image5'}}" alt="brand-logo" />
		</a>
	</div>
