<div class="section__title ">
        <h2 class="page-heading">
            {{lang 'ap-base-1.featured-products.featured' }}
            <span class="text-des text-center">{{lang 'ap-base-1.featured-products.description' }}</span>
        </h2>
</div>
<ul class="featured-index productGrid productGrid--maxCol{{ columns }}" data-product-type="featured" data-product-type="featured"
	data-slick='{
        "dots": false,
        "arrows": true,
        "autoplay": true,
        "mobileFirst": true,
        "rows":{{ slickrow }},
        "slidesToShow": 2,
        "slidesToScroll": 1,
        "responsive": [
            {
                "breakpoint": 1260,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": {{ columns }}
                }
            },
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToScroll": 3,
                    "slidesToShow": 3
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToScroll": 2,
                    "slidesToShow": 2
                }
            }
        ]
    }'>
    {{#each products}}
        <li class="product">
            {{>components/products/card theme_settings=../theme_settings customer=../customer show_rating=../settings.show_product_rating show_compare=../settings setting_show = ../settings}}
        </li>
    {{/each}}
</ul>
